
.singleDeveloper{
  z-index: 0;
      position: absolute;
    top: 47%;
    right: 7%;
}
.logos {
 display: flex;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.logos::before,
.logos::after {
  content: "";
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  z-index: 2;
}

.logos::before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #000);
}

.logos::after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #000);
}

.logos:hover .logosSlide {
  animation-play-state: paused;
}

.logosSlide {
  display: flex;
  animation: scroll 60s linear infinite;
  margin-top: 1rem;
}

.logosSlide img {
height: 86px;
    max-width: 185px;
  margin: 0 18px;
  object-fit: contain;
  background: #fff;
  padding: 0.8rem;
  border: 1px solid #ccc;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}


@media (max-width: 768px) {
.logos::before {
  left: 0;
  background: none;
}
.singleDeveloper{
bottom: 0;
    right: 0;
    width: 33%;
    top:auto;
}
.singleDeveloper img{
  width: 100%;
}
.logos::after {
  right: 0;
  background: none;
}
}