.about_inch h2{
    letter-spacing: 4px;
    font-size: 2rem;
    padding: 10px;
    margin: 10px;
}
.about_inch p{
    letter-spacing: 2px;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    text-align: justify;
}

.about_inch img{
    width: 100%;
    height: 100%;
    min-height: 600px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-radius: 10px;
}