.blog_tile {
    position: relative;
    width: 100%;
    margin: 0 15px 30px;
    border-radius: 15px;
    box-shadow: var(--shadow-300);
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;
    height: 30rem;
    /* border: 1px solid var(--brand-color-2); */
  }
  .blog_tile:hover {
    box-shadow: var(--shadow-blue);
    transform: translateY(-10px);
  }
  .blog_img {
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
  .blog_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .blog_content {
    padding: 20px;
  }
  .blog_title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .blog_excerpt {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  .btn {
    color: red;
    cursor: pointer;
  }

  