.tag_card {
  /* background: var(--brand-color-1); */
  padding: 10px;
  box-shadow: var(--shadow-300);
  margin-top: 20px;
  height: 40vh;
  overflow: auto;
  /* border: 2px solid; */
  border-image: var(--four-side-border);
}

.color_white {
  color: #ccc !important;
}

.card_title {
  font-size: 25px;
  font-weight: bolder;
}

.related_property {
  width: 100%;
  height: 28rem;
  overflow-y: auto;
}

.list_item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  cursor: pointer;
  padding: .2rem;
}

.list_item img {
  width: 80px;
  height: 45px;
  margin-right: 20px;
}

.list_item .content {
  flex-grow: 1;
}

.list_item .title {
  font-weight: bold;
}

.list_item .text {
  overflow: hidden;
  text-overflow: ellipsis;
}