.banner_container img{
  width: 100%;
  max-height: 20vh;
  height: 100%;
  object-fit: cover;
}
.banner_container{
  position: relative;
  /* max-height: 30%; */
}
.banner_overlay{
  background: var(--tr-color-1);
  width: 100%;
  /* max-height: 50vh; */
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
}
.banner_overlay h1{
  font-size: 2rem;
  font-weight: 900;
  /* margin-top: 10%; */
  color: #fff;
  filter: drop-shadow(8px 4px 6px black);
  text-align: center;
  margin-bottom: 0;
}
.banner_container video{
  width: 100%;
  max-height: 100vh;
  height: 100%;
  object-fit: fill;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .banner_container img{
    width: 100%;
    /* max-height: 50vh; */
    height: 100%;
    object-fit: cover;
  }
  .banner_overlay h1{
    margin-top: 20%;
    font-size: 1.5rem;
  }
  .banner_overlay{
    background: var(--tr-color-1);
    width: 100%;
    /* max-height: 33vh; */
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
  }
  
  .banner_container video{
    width: 100%;
    max-height: 50vh;
    height: 100%;
    object-fit: fill;
  }
}