.press_img img{
    width: 100%;
    object-fit: scale-down;
}
.press_content{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 250px;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.press_content h4{
    font-size: 40px;
    font-weight: 900;
    text-align: center;
}
@media (max-width: 550px) {
    .press_content h4 {
        font-size: 25px;
        margin-top: 2rem;
    }
}

@media (max-width: 768px) {
    .press_img img{
        width: 100%;
        object-fit: contain;
        /* margin: -140px 0; */
        height: auto;
    }
}