.accordion {
  overflow: hidden;
  margin-bottom: 1em;
  border: 2px solid;
  border-image: var(--four-side-border);
}

.accordion_header {
  background-color:var(--brand-color-1);
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid var(--color-1);
}

.accordion_header h4 {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.accordion_toggle {
  background-color: transparent;
  border: none;
  width: 20px;
  height: 20px;
  margin-left: 1em;
  position: relative;
}

.accordion_toggle::before,
.accordion_toggle::after {
  content: "";
  position: absolute;
  background-color: var(--color-1);
  height: 1px;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: transform 0.3s, background-color 0.3s;
}

.accordion_toggle::before {
  transform-origin: center right;
}

.accordion_toggle::after {
  transform-origin: center left;
}

.accordion_content {
  padding: 1em;
  background-color: #111010;
  display: none;
  overflow: hidden;
}

.accordion_item.active .accordion_toggle::before {
  transform: translateY(-50%) rotate(45deg);
  background-color: var(--color-1);
}

.accordion_item.active .accordion_toggle::after {
  transform: translateY(-50%) rotate(-45deg);
  background-color: var(--color-1);
}

.accordion_item.active .accordion_content {
  display: block;
  max-height: 200px;
  overflow: auto;
  height: 100%;
}

/* checkbox */
.form_check_input:checked[type=checkbox] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}
.form_check_input:checked, .form_check_input[type=checkbox]:indeterminate {
  background-color: #696cff;
  border-color: #696cff;
  box-shadow: 0 2px 4px 0 rgba(105, 108, 255, 0.4);
}
.form_check_input[type=checkbox] {
  border-radius: 0.25em;
}
.form_check_input {
  width: 1em;
  height: 1em;
  margin-top: 0.35em;
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid #d9dee3;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  
}
.form_check label{
  padding-left: 10px;
  cursor: pointer;
  font-size:14px;
}


.form_switch .form_check_input:checked {
  background-position: right center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.form_switch .form_check_input {
  width: 2em;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%2867, 89, 113, 0.3%29'/%3e%3c/svg%3e");
  background-position: left center;
  border-radius: 2em;
  transition: background-position 0.15s ease-in-out;
}

