.mission h2{
    letter-spacing: 4px;
    font-size: 2rem;
    padding: 10px;
    margin: 10px;
}
.mission p{
    letter-spacing: 2px;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    text-align: justify;
}

.mission img{
    width: 100%;
    height: 100%;
    max-height: 600px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-radius: 10px;
}