.offer_frm{
    position: fixed;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    z-index: 999;
    height: 100%;
    color: var(--brand-color-1);
}
.skip_btn {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 1.5rem;
    cursor:pointer;
    color:var(--brand-color-1);
}
.container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;    /* Center vertically */
    min-height: 100vh;      /* Ensure the container takes full viewport height */
  }
  .invitation_frm {
    background: var(--brand-color-1);       /* Optional: Add a background for the form */
    padding: 20px;          /* Add padding for spacing inside the form */
    box-shadow: 0 2px 4px 0 rgba(141, 138, 138, 0.688);
    border: 4px solid;
    border-image: var(--four-side-border);
    color:#fff;
  }