.pressSection{
    width: 100%;
    padding: 10px;
    box-shadow: var(--shadow-200);
    border-radius: 10px;
    cursor: pointer;
    background: var(--color-1);
    margin: .5rem 0;
}
.logo_section img{
    width: 100%;
    height: 90px;
    object-fit: contain;
    padding: 10px;
}
.content{
    text-align: center;
    text-transform: uppercase;
}
.content h4{
    font-size: 18px;
    color: var(--brand-color-1);
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
}