.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    transform: scale(0.8);
  }
  
  .modal.open {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transform: scale(1);
  }
  
  .modal__content {
    background-color: #fff;
    padding: 2rem;
    border-radius: 4px;
    max-width: 500px;
    max-height: 90%;
    overflow: auto;
  }
  
  .modal__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .modal__close:hover {
    text-decoration: underline;
  }
  