.reviewSection{
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}
.reviewCard{
  width: 100%;
  min-height: 50vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content{
  font-size: 2em;
  font-style: italic;
  color: var(--color-1);
  text-align: center;
}
.content p{
  font-size: 1em;
}
.img_box{
  position: relative;
  text-align: center;
}
.img_box img{
  width: 100px!important;
  height: 100px;
  border-radius: 100%;
  border: 4px solid var(--brand-color-1);
  cursor: pointer;
}
.img_box:hover img{
  border: 4px solid var(--color-1);
}
.username{
  text-align: center;
  margin: 10px;
  color: var(--color-1);
}
.img_box::before {
  content: "\f10d";
  position: absolute;
  width: 40px;
  height: 40px;
  background: #1b1b1b;
  border: 5px solid #e6e6e6;
  border-radius: 50%;
  z-index: 1;
  font-family: FontAwesome;
  font-size: 17px;
  line-height: 40px;
  color: #dddddd;
  left: -11px;
}