.banner {
    width: 100%;
    height: 70vh;
    position: relative;
  }
  
  .overlay {
    background: #00aaa969;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    box-shadow: var(--shadow-blue);
  }
  
  .img_fluid {
    object-fit: cover;
  }
  
  .banner_content {
    position: absolute;
    right: 15%;
    bottom: 0;
    left: 15%;
    text-align: center;
    z-index: 1;
  }
  
  .banner_heading {
    font-size: 3.5rem;
    font-weight: 800;
    text-shadow:4px 3px var(--color-5);
    margin-bottom: 1rem;
  }
  
  .banner_description {
    font-size: 1.5rem;
    font-weight: 400;
    text-shadow: 4px 3px var(--color-5);
  }