.mbody{
  width: 100%;
  background: url(https://cdn.inchbrick.com/background/dubai-pic.webp) no-repeat center;
    background-attachment: fixed;
}
.mbody h2{
    text-transform: uppercase;
    display: inline-block;
    padding-bottom: 5px;
    background-image: var(--gradient);
    background-size: 70% 3px;
    background-repeat: no-repeat;
    background-position: bottom;
    font-weight: bolder;
}
.mcontainer .mCard{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 450px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0,0,0,0.15);
  transition: 0.5s;
  cursor: pointer;
}
.mcontainer .mCard:hover{
  height:450px;
}
.mcontainer .mCard .imgBx{
  position:absolute;
  top: 10px;
  width: 95%;
  height: 250px;
  background: var(--gradient-1);
  border-radius: 12px;
  transition: 0.5s;
  overflow: hidden;
}
.mcontainer .mCard:hover .imgBx{
  top: -130px;
  scale:0.60;
  box-shadow: 0 15px 45px rgba(0,0,0,0.2);
}

.mcontainer .mCard .imgBx img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mcontainer .mCard .content{
  position:absolute;
  top: 270px;
  width: 100%;
  padding: 0 20px;
  height: 105px;
  overflow: hidden;
  text-align: center;
  transition: 0.5s;
}
.mcontainer .mCard:hover .content{
  top:80px;
  height: 450px;
}
.mcontainer .mCard .content h3{
  font-size: 1.3em;
  font-weight: 400;
  color:var(--brand-color-1);
}
.mcontainer .mCard .content p{
  color:var(--brand-color-1);
  font-size: 14px;
}
