.agent_card{
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin-top: 1.5rem;
    cursor: pointer;
    box-shadow: var(--shadow-blue);
}
.agent_card img{
    border-radius: 100%;
    padding: 5px;
}
.related_property{
    width: 100%;
    height: 28rem;
    overflow-y: auto;
}

.contact_frm h4{
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: 2px 2px var(--brand-color-2);
}
.inquiry_icons{
  display: flex;
  justify-content: center;
  padding: 0;
  width: 100%;
}
.inquiry_icons span{
    border: 2px solid;
    border-image: var(--four-side-border);
    width: 100%;
    text-align: center;
    padding: 15px;
    font-size: 25px;
}
.list_item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    border: 1px solid var(--brand-color-2);
    cursor: pointer;
  }

  .list_item img {
    width: 80px;
    height: 80px;
    margin-right: 20px;
  }

  .list_item .content {
    flex-grow: 1;
  }

  .list_item .title {
    font-weight: bold;
  }

  .list_item .text {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .tag_card{
    background: var(--brand-color-1);
    padding: 10px;
    box-shadow: var(--shadow-300);
    margin-top: 20px;
    height: 40vh;
    overflow: auto;
    border: 2px solid;
    border-image: var(--four-side-border);
  }
  .card_title{
    font-size: 25px;
    font-weight: bolder;
  }
  