.img_fluid{
    width: 100%;
    display: block;
    margin: 0 auto;
   -webkit-box-reflect: left 0px -webkit-linear-gradient(transparent, rgba(0,0,0,0.2));
    padding: 10px;
    border: 1px solid var(--brand-color-2);
}
.counter{
    display: flex;
    place-content: center;
}
.counter_section h3{
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}
.counter_area p {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bolder;
}
.counter_section {
    width: 100%;
    height: 10rem;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--brand-color-2);
    box-shadow: var(--shadow-300);
    cursor: pointer;
    border-radius: 10px;
}